<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QMap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Subway</display-name>
    <servlet-name>Subway</servlet-name>
    <servlet-class>com.passioncoder.qmap.servlet.Subway</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subway</servlet-name>
    <url-pattern>/Subway</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mobile</display-name>
    <servlet-name>Mobile</servlet-name>
    <servlet-class>com.passioncoder.qmap.servlet.Mobile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mobile</servlet-name>
    <url-pattern>/Mobile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShapeFile</display-name>
    <servlet-name>ShapeFile</servlet-name>
    <servlet-class>com.passioncoder.qmap.servlet.ShapeFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShapeFile</servlet-name>
    <url-pattern>/ShapeFile</url-pattern>
  </servlet-mapping>

</web-app>